body{
    background-color:beige;
}
.fa{
    color: cornflowerblue;
}
.text{
    margin: 20px 5px;
}
a{
    border-bottom: 1px solid cornflowerblue;
}
.box-inside{
    background-color: white;
    text-align: center;
    padding: 50px 5px;
    margin: 30px 5px;
}
.box{
    padding: 60px 5px;
}